@import url('https://fonts.googleapis.com/css?family=Francois+One&display=swap');

.signs{
  height: 100vh;
  width: 100vw;
  z-index:0;
  overflow: scroll;
  .sign{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .container{
      height: calc(80% + 100px);
      width: 80%;
      margin-left: 80px;
      
      h2{
        font-family: 'Francois One', ;
        color: white;
        font-size: 3em;
      }
      
      .new_user{
        font-family: 'Francois One', ;
        font-size: 1em;
        .field{
          margin-top: 20px;
          color: white;
          font-size: 1.2em;
        }
        input{
          height: 30px;
          width: 50%;
        }
        .actions{
          .sign-btn{
            font-family: 'Francois One', ;
            font-size: 1.2em;
            height: 60px;
            width: 120px;
            color: white;
            border-radius: 8px;
            background-color: rgba(17, 3, 68, 0.5);
            cursor: pointer;
            margin-bottom: 60px;
            outline: none;
            &:hover{
              background-color: hsla(251, 40%, 70%, 0.4);
            }
            &:active{
              background-color: hsla(261, 51%, 81%, 0.7);
              box-shadow: 0 1px 15px 3px  hsla(266, 39%, 84%, 0.4);
            }
          }
          .sign-up{
            margin-top: 20px;
          }
        }
      }
      .change-sign{
        font-family: 'Francois One', ;
        font-size: 1.4em;
        padding: 5px 10px;
        color: white;
        text-decoration: none;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 3px;
        cursor: pointer;
        opacity: 0.9;
        margin-bottom: 30px;
        &:hover{
          background-color: rgba(217, 215, 228, 0.3);
        }
        &:active{
          background-color: rgba(255, 255, 255, 0.5);
          box-shadow: 0 1px 15px 3px  rgba(205, 198, 241, 0.4);
        }
      }
      .toppage-top-btn{
        color: white;
        margin-left: 20px;
      }
    }
  }
}

.signs::before{
  content: '';
  background-image: url('/photos/skytree_night.jpg');
  filter: blur(5px);/*ぼかし度*/
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -1;
  overflow: hidden;
}
.notice{
  color: white;
}

.alert{
  color: white;
}