<div class="toppage-wrapper">
  <div class="toppage-contents">
    <div class="toppage-content">
      <%# <div class="logo-btn-group">
      <h2>text</h2>
      </div> %>
      <div id="video-container">
        <video src="/movies/final_comp_half.mp4" autoplay loop muted>
        </video>
      </div>
      <div class="overlay"></div>
      <div class="toppage-content__group">
          <img src="/svg/Phovie_only_small.svg" class="top-logo" >
          <div class="button-group">
          <%= link_to user_session_path, class: "button-group__sign-in" do %>
            <h2>Log in</h2>
          <% end %>
          <%= link_to new_user_registration_path, class: "button-group__sign-up" do %>
            <h2>Sign up</h2>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div