<div class="des-containers">
  <div class="overlay"></div>
  <div class="des-container">
    <div class="des-container__group">
      <i class="fas fa-trash-alt"></i>
      <h2 class="delete-message">It has been deleted</h2>
      <i class="fas fa-trash-alt"></i>
    </div>
    <a class="delete-top" href="/">Top</a>
  </div>
</div>