@import "reset";
@import "config/colors";
@import "modules/toppages/toppages";
@import "modules/posts/postsDestroy";
@import "modules/posts/postsShow";
@import "modules/posts/postsNew";
@import "modules/posts/posts";
@import "modules/users/usersShow";
@import "modules/users/users";
@import "font-awesome-sprockets";
@import "font-awesome";

.wrapper{
  position: relative;
  height: 0;
  
  .header{
    position: fixed;
    top:0;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(1, 0, 17, 0.85);
    transform: translateY(-75px);
    transition: 0.4s;
    opacity: 0;

    &:hover{
      transform: translateY(0px);
      opacity: 1;
    }
    &__title{
      margin-left: 30px;
      border-bottom: 1.5px solid white;
      
      &__logo{
        width: 200px;
        height: auto;
        cursor: pointer;

      }
    }
    &__right{
      height: 100%;
      width: 510px;
      float: right;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .current_user-name-btn, .post-btn, .log-out{
        color: white;
        height: 100%;
        width: 170px;
        line-height: 100px;
        font-size: 1.4em;
        text-decoration: none;
        text-align: center;
        transition: 0.1s;
        &:hover{
          color: black;
          background: radial-gradient(rgba(169, 192, 255, 1), rgba(215, 235, 255, 0.18));
        }
      }
      .current_user-name-btn::before{
        font-family: "Font Awesome 5 Free";
        content: "\f007";
        font-weight: bold;
        margin-right: 5px;
      }
      .post-btn::before{
        font-family: "Font Awesome 5 Free";
        content: "\f14b";
        font-weight: bold;
        margin-right: 5px;
      }
      .log-out::before{
        font-family: "Font Awesome 5 Free";
        content: "\f2f5";
        font-weight: bold;
        margin-right: 5px;
      }
    }
  }
}
.position{
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
