@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


.posts-all{
  height: auto;
  width: 100vw;
  background: linear-gradient(45deg, hsl(209, 97%, 28%), #2a0033, #00694f);
  background-size: 600% 600%;
  animation: Gradient 3s ease infinite;
  .posts-containers{
    height: 100%;
    width: 100%;
    // background-color: blue;
    .posts-container{
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      grid-auto-rows: 1fr;

      .post-container{
        height: 320px;
        overflow: auto;
        min-width: 0;
        margin: .2em;
        border: 2px solid rgba(0, 0, 0,0.2);
        border-radius: 3px;
        cursor: pointer;
        position: relative;

        &__post-image{
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-size: cover;
          background-position: center;
        }
        &__groups{
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          transition: 0.2s;
          &:hover{
          opacity: 1;
          }
          &__title-content{
            height: 100%;
            width: 100%;
            background-color: rgba(6, 3, 48, 0.8);
            &__post-title{
              color: white;
              font-size: 40px;
              padding: 50px 60px 0px;

            }
            &__post-content{
              color: white;
              padding: 50px 60px 0px;
              font-size: 20px;
            }
          }
        }
        
      }
    }
  }
}